@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

html, body {
    background-color: #222;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

.container {
    display: inline-block;
}

h1,
h2,
h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
    margin: 0
}

circle {
    fill: white;
}
